@model MedShare.Models.MedicamentoInstituicao
@{
    ViewData["Title"] = "Detalhes Medicamento";
}
<h2>Detalhes do Medicamento</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">Quantidade</dt>
        <dd class="col-sm-10">@Model.QuantidadeCaixas</dd>
        <dt class="col-sm-2">Observação</dt>
        <dd class="col-sm-10">@Model.Observacao</dd>
        <dt class="col-sm-2">Escassez?</dt>
        <dd class="col-sm-10">@(Model.EscassezCritica ? "Crítica" : (Model.EmFalta ? "Em falta" : "OK"))</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
