@page
@model DoacoesIndexModel
@{
    ViewData["Title"] = "Doaçőes";
}

<h1>Doaçőes</h1>
<a asp-page="Create">Nova Doaçăo</a>
<table class="table">
    <thead>
        <tr>
            <th>Medicamento</th>
            <th>Validade</th>
            <th>Quantidade</th>
            <th>Doador</th>
            <th>Açőes</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Doacoes)
    {
        <tr>
            <td>@item.DoacaoNomeMedicamento</td>
            <td>@item.DoacaoDataValidade.ToShortDateString()</td>
            <td>@item.DoacaoQuantidadeMedicamento</td>
            <td>@item.Doador?.DoadorName</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.DoacaoId">Editar</a> |
                <a asp-page="Delete" asp-route-id="@item.DoacaoId">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>
